## Attributes , Methods and Functions

Attributes

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#Getting acess to shape attributes
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.shape

(1000, 8)

In [ ]:
#Getting acess to index attributes
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
#Getting acess to column attribute
df_exams.columns

In [ ]:
#Data Types Attributes
df_exams.dtypes

##Methods

In [ ]:
#Info
df_exams.info()

In [ ]:
df_exams.describe()

Functions

In [4]:
#length of dataframe
len(df_exams)

1000

In [6]:
#higest index of the dataframe
max(df_exams.index)

999

In [7]:
#lowest index in dataframe 
min(df_exams.index)

0

In [9]:
#obtaining type of dataframe
type(df_exams)

pandas.core.frame.DataFrame

In [ ]:
#rounding 
round(df_exams , 2)

## Selecting one Column

In [ ]:
#select a column with [](prefered way of selecting)
df_exams['gender']

In [ ]:
#check datatype of a column
type(df_exams['gender'])

In [ ]:
#series: attributes and methods
df_exams['gender'].index
df_exams['gender'].head(5)

# Syntax 2

In [ ]:
#select a column with .
df_exams.gender

In [ ]:
#select a column with . (pitfalls)
df_exams.math score

In [ ]:
#Select same column using []
df_exams['math score']

1 Selecting two or more column

In [ ]:
#Selecting 2 columns using [[]]
df_exams[['gender','math score']]

In [22]:
#check datatype of selection
type(df_exams[['gender','math score']])

pandas.core.frame.DataFrame

In [ ]:
#select 2 or more columns using [[]]
df_exams[['gender', 'math score', 'reading score', 'writing score']]

In [ ]:
#We can't select 2 or more column with '.'

## Add new column to a DataFrame

### 1.1 Adding a new column with scaler value

In [ ]:
#adding new column to a dataframe
df_exams['language score'] = 70
df_exams

### 1.2 Adding new column with an array

 The dataframe has 1000 rows, so we need to create an array with 1000 elements

In [27]:
#import numpy
#create an array of 1000 elements
language_score = np.arange(0,1000)

In [28]:
#length of array 
len(language_score)

1000

In [ ]:
#adding a new column to dataframe with an array 
df_exams['language score'] = language_score
df_exams

In [35]:
#create a random integer numbers between 1 and 100
int_language_score = np.random.randint(1,100 , size=1000)

In [36]:
#min value inclusive and high value exclusive
min(int_language_score)
max(int_language_score)

np.int32(99)

In [ ]:
#adding new column to a dataframe with an array
df_exams['language score'] = int_language_score
df_exams

In [ ]:
#create random float numbers between 1 and 100
np.random.uniform(1,100, size = 100)

### 1.1 assign()

In [41]:
#create random numbers for our new score columns
score1 = np.random.randint(1,100,size = 1000)
score2 = np.random.randint(1,100,size = 1000)

In [43]:
series1 = pd.Series(score1 , index=np.arange(0,1000))
series2 = pd.Series(score2 , index=np.arange(0,1000))

In [ ]:
#using assign() to add multiple columns
df_exams.assign(score1=series1, score2=series2)

### 1.2 insert()

In [45]:
#using index() to add a column at specific position
#csvfile.insert(index, 'name of new column', array of values)
df_exams.insert(1,'test', series1)